AIRFLOW_UID=50000
AIRFLOW_GID=0

POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow
POSTGRES_DB=airflow

AIRFLOW__CORE__EXECUTOR=LocalExecutor
AIRFLOW__CORE__LOAD_EXAMPLES=False
AIRFLOW__WEBSERVER__SECRET_KEY=etlb-secret-key-change-me
AIRFLOW__CORE__FERNET_KEY=replace-with-real-fernet-key

AIRFLOW_ADMIN_USERNAME=admin
AIRFLOW_ADMIN_PASSWORD=admin
AIRFLOW_ADMIN_EMAIL=admin@local

ETLBELVISO_ORCHESTRATION_CONFIG=/opt/airflow/config/orchestration/pipelines.yaml

# Parametrized Logging Configuration
# To enable remote logging to AWS S3, Azure Blob, or Elastic, change ETLBELVISO_REMOTE_LOGGING to True
# and configure the CONNECTION ID and PATH.
ETLBELVISO_LOG_PATH=/opt/airflow/logs
ETLBELVISO_REMOTE_LOGGING=False
ETLBELVISO_REMOTE_LOG_PATH=
ETLBELVISO_REMOTE_CONN_ID=
